<% name = current_user&.first_name || 'Stranger' %>
<p class='ml-4 lead font-weight-normal text-secondary'>Welcome <%= name %> to</p>
<h3 class='ml-4'>Quizathon</h3>
<% unless user_signed_in? %>
  <p class='ml-4'>Please sign_up/sign_in before continuing</p>
<% end %>
<%= render partial: 'quizzes', object: @quizzes, locals: { q: @q } %>
