<% name = current_user&.first_name || t('.stranger') %>
<p class='ml-4 lead font-weight-normal text-secondary'><%= "#{t('.welcome')} #{name} #{t('.to')}" %></p>
<h3 class='ml-4'><%= t(:title) %></h3>
<% unless user_signed_in? %>
  <p class='ml-4'><%= t(:unauthorized_msg) %></p>
<% end %>
<%= render partial: 'quizzes', object: @quizzes, locals: { q: @q } %>
