/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require './actiontext.css'
 */
@import "bootstrap";
@import "./actiontext.css";

* {
  box-sizing: border-box;
}

.field {
  margin-top: 1.3rem;
}

.field .form-input {
  width: 250px;
  padding: 6px 20px;
  margin: 0;
  box-sizing: border-box;
}

.field select {
  width: 250px;
  padding: 6px 20px;
  margin: 0;
  box-sizing: border-box;
}

.card {
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.table-hover tbody tr:hover td {
  background-color: #DDEFFE;
}

.side-nav {
  background-color: #19222a;
}

a.side-navbar-logo {
  margin-left: 25px;
  font-size: 25px;
}

.edit-form {
  margin-left: 10px;
}

.error-div {
  color: red;
}

.body-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
}
.body-row {
  width: 100%;
  td{
  width: 25%;
  display: block;
  overflow: hidden;
  }
  th{
    width: 25%;
  }
  .ransack-col{
    overflow: hidden;
  }
}

.button_to {
  display: inline;
}

.quiz-card {
  width: 300px;
}

div.genre-buttons {
  display:inline;
}

.questions-number-button {
  text-align: right;
}

.timer {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 7px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.stats-div{
  *{
    padding-left: 5px;
  }
}

.bg-light-grey{
  background-color: #F2F2F2;
}

.profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.notification {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.horizontal-navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #ffffff, #f8f9fa);
}

.my-quizzes-button:hover{
  background-color: #DDEFFE;
}
